.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resistences_container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(120px,1fr));
  gap: 20px;
}

.resistences_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}


#valor_resistencia {
  width: 220px;
  margin-bottom: 15px;
}

#current_resistence .resistor {
  width: 750px;
  display: flex;
  justify-content: center;
}

#current_resistence .resistor svg {
  width: 80%;
  height: auto;
  display: block;
}

.resistences_container .resistor{
  width: 300px;
}

.resistences_container .resistor svg {
  width: 80%;
  height: auto;
  display: block;
}



