.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resistences_container {
  display: grid;
}

.resistor {
  display: flex;
  flex-direction: columns;
}

#stripes {
  display: flex;
  flex-direction: columns;
}
.stripe {
  height: 10vh;
  width: 10vw;
  background-color: black;
}
