.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resistences_container {
  display: grid;
}

.resistences_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#resistor {
  width: 600px;
}

#resistor svg{
  width: 100%;
  height: auto;
  display: block;
}

#valor_resistencia {
  width: 220px;
}

